html, body {
  height: 100%;
}

.home {
  height: 100%;
  background-color: gray;
  background: url(../../../assets/ranbing.mp4) no-repeat center 0px;
  position: absolute;
}

video {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  z-index: -100;
  background-size: cover;
}

div.website-name {
  color: whitesmoke;
  font-size: 50px;
  left: 570px;
  position: absolute; // in order to make the div out of flow
  text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;
  top: 45px;
}

div.replace-section {
  background: rgba($color: lightgrey, $alpha: 0.3);
  border: 1px solid skyblue;
  border-radius: 2px;
  box-shadow: 0 20px 30px rgba(7, 1, 1, 1);
  color: white;
  padding: 10px;
  position: relative;
  top: 40%;
  left: 45%;
  z-index: 99;
}
