<div class="about-section">
    <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tmall Website
            </mat-panel-title>
            <mat-panel-description>
              Online shopping website simulation (2018)
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>

            This project contains the whole pacakge of the front end. It was built with HTML,CSS,Javascript,jQuery and Bootstrap, not suitable for mobile devices<br>

            Please use chrome for the best quality.<br>

            Inside Each Page Please click the <span style="background-color:red;color:white;padding:2px;border-radius:5px;">Valid</span> for the valid links due to language.

            <ul>
                <li><a href="https://puddlejumper26.github.io/js-showcases/projects/tmall_website/front_end/09-final-merge/homepage.html" target="_blank">Home Page</a></li>
                <li><a href="https://puddlejumper26.github.io/js-showcases/projects/tmall_website/front_end/09-final-merge/category.html" target="_blank">Category</a></li>
                <li><a href="https://puddlejumper26.github.io/js-showcases/projectstmall_website/front_end/09-final-merge/product.html" target="_blank">Product</a></li>
                <li><a href="https://puddlejumper26.github.io/js-showcases/projects/tmall_website/front_end/09-final-merge/login.html" target="_blank">Login</a></li>
                <li><a href="https://puddlejumper26.github.io/js-showcases/projects/tmall_website/front_end/09-final-merge/shoppingcart.html" target="_blank">Shopping Cart</a>  - Most complicated with JS, selections,amounts,numbers,quantities changing with each other</li>
                <li><a href="https://puddlejumper26.github.io/js-showcases/projects/tmall_website/front_end/09-final-merge/myorder.html" target="_blank">My Order</a></li>
                <li><a href="https://puddlejumper26.github.io/js-showcases/projects/tmall_website/front_end/09-final-merge/orderconfirmation.html" target="_blank">Order Confirmation</a></li>
                <li><a href="https://puddlejumper26.github.io/js-showcases/projects/tmall_website/front_end/09-final-merge/confirmreceive.html" target="_blank">Confirmation Receive</a></li>
                <li><a href="https://puddlejumper26.github.io/js-showcases/projects/tmall_website/front_end/09-final-merge/payment.html" target="_blank">Payment</a></li>
                <li><a href="https://puddlejumper26.github.io/js-showcases/projects/tmall_website/front_end/09-final-merge/paysuccess.html" target="_blank">Pay Success</a></li>
                <li><a href="https://puddlejumper26.github.io/js-showcases/projects/tmall_website/front_end/09-final-merge/receivedsuccess.html" target="_blank">Receive Success</a></li>
                <li><a href="https://puddlejumper26.github.io/js-showcases/projects/tmall_website/front_end/09-final-merge/evaluation.html" target="_blank">Evaluation</a></li>
                <li><a href="https://puddlejumper26.github.io/js-showcases/projects/tmall_website/front_end/09-final-merge/register.html" target="_blank">Register</a></li>
            </ul>

        </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Hexo Theme Ashes Development
              </mat-panel-title>
              <mat-panel-description>
                Self developed a Hexo theme (2019)
              </mat-panel-description>
            </mat-expansion-panel-header>
            Basic Info -<br>
                    - Develop a new Hexo theme Ashes <br>
                    - HTML, CSS, Javascript, jQuery, Ejs, Stylus,YAML, Git <br>
                    - Version 1.0
                    <br><br>
                    Function - add another theme to Hexo official website
                    <ul><li><a class="nav-link" href="https://github.com/puddlejumper26/hexo-theme-ashes" target="blank">Hexo- Theme-Ashes</a></li> </ul>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Personal Website (In progress)
              </mat-panel-title>
              <mat-panel-description>
                Personal website (2020)
              </mat-panel-description>
            </mat-expansion-panel-header>
             This website is built with Angular (Scss), Typescript, Angular Material

             <ul>
               <li><a href="https://puddlejumper26.github.io/xiangs/" target="_blank" >Click to Website</a></li>
               <li><a href="https://github.com/puddlejumper26/xiangs" target="_blank">Github Page</a></li>
             </ul>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Sport Store (In progress)
              </mat-panel-title>
              <mat-panel-description>
                Online shopping website simulation (2020)
              </mat-panel-description>
            </mat-expansion-panel-header>
            Tech Stack: Angular 9, TypeScript, Bootstrap(4.1.1), Json-Server
            <ul>
              <li><a href="https://puddlejumper26.github.io/SportStore/" target="_blank" >Click to Website</a></li>
              <li><a href="https://github.com/puddlejumper26/SportStore" target="_blank">Github Page</a></li>
            </ul>
          </mat-expansion-panel>

          <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tmall Website
              </mat-panel-title>
              <mat-panel-description>
                Online shopping website simulation
              </mat-panel-description>
            </mat-expansion-panel-header>
            <span>point 1</span>
            <span>point 2</span>
            <span>point 3</span>
          </mat-expansion-panel>  -->

      </mat-accordion>
</div>