<div class="about-section" fxLayout="column">
  <div fxFlex="20" fxLayout="row" fxLayout.xs="column">
    <div fxFlex="30" class="photo">
      <img src="../../../assets/photo.jpg" alt="photo" />
    </div>
    <div fxFlex="70">
      <div class="titile">
        <br /><br />
        <h2>Front End Developer</h2>

        <span style="font-weight: 900;">Email : </span>
        xiang.wu@hotmail.de
        <br /><br />
        <span style="font-weight: 900;">Favourite : </span>
        Angular, Typescript, Angular Material, JS, HTML, CSS, Git, Bootstrap
        <br /><br />
        <span style="font-weight: 900;">IDEs : </span> VSC, IntelliJI
        <span style="font-weight: 900; margin-left: 50px;">Github : </span>
        <a href="https://github.com/puddlejumper26" target="_blank"
          >Puddlejumper26</a
        >
      </div>
    </div>
  </div>
  <div fxFlex="80">
    <p class="lead">
      I am <b>Puddlejumper26 ( xiang )</b>, I am an enthusiastic and passionate
      front end developer.

      <br /><br />

      I graduated from TU Munich ( Technische Universität München ) in 2013 with
      a Master degree. My master thesis was focusing on the professional
      industrial software ( Gabi 6.0 and Cambridge Eco Audit Selector 2013 )
      research for industrial products ( woods and steel ) and their entire life
      cycle.

      <br /><br />

      Since 07/2018 I started to focus on the Front End development, and really
      enjoy the work. Between 11/2018-04/2019 I was enrolled in the
      <a
        href="https://academy.microsoft.com/en-us/professional-program/tracks/front-end-development/"
        target="_blank"
        >Microsoft Professional Program for Front-End Web Development</a
      >.

      <br /><br />

      Since 09/2019, I started to work as <b>Junior Front End Developer</b> in
      Wagawin GmbH. My work is mainly focusing on the Web Front End part, we are
      using Angular and Angular Material, and with IntelliJi as IDE. Thanks for
      my friendly colloagues, I have learned a lot of solid knowledge and skills
      there, very enjoyable!

      <br /><br />

      I am always a very good team player, easy going, humours, and a huge
      Sci-Fi fan since 6 years old.
      <br /><br />

      My personal goal is to become a professional in Full Stack mainly with
      focus on Front End in the next few years.Technique is and will be my
      lifelong pursuit goal.
    </p>

    <div id="wrap">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
      <div class="line4"></div>
      <div class="line5"></div>
    </div>

    <div class="certificate">
      <h2>Microsoft Certificate (verified)</h2>
      <ul>
        <li>
          <a
            href="https://courses.edx.org/certificates/47cd8785c5b942408d1ef3978aafe3c1"
            target="_blank"
            >Advanced Angular - Microsoft, edX - 2019
          </a>
        </li>
        <li>
          <a
            href="https://courses.edx.org/certificates/42ccb23e11864ef4abffa34354c6e926"
            target="_blank"
            >Angular Fundamentals - Microsoft, edX - 2019
          </a>
        </li>
        <li>
          <a
            href="https://courses.edx.org/certificates/4c67f74df3a44eada5a1293e5ef581d4"
            target="_blank"
            >Front End Development - Microsoft, edX - 2018
          </a>
        </li>
        <li>
          <a
            href="https://courses.edx.org/certificates/c51bc2253ebf4a5cb42746bc7a6e9d37"
            target="_blank"
            >TypeScript 2 - Microsoft, edX - 2019
          </a>
        </li>
        <li>
          <a
            href="https://courses.edx.org/certificates/7e85501625914c6bbc8d719a0a631e5d"
            target="_blank"
            >Advanced CSS Concepts - Microsoft, edX - 2019
          </a>
        </li>
        <li>
          <a
            href="https://courses.edx.org/certificates/6d7ee24306094092958887c697b580cc"
            target="_blank"
            >jQuery - Microsoft, edX - 2019
          </a>
        </li>
        <li>
          <a
            href="https://courses.edx.org/certificates/f49a09f635a44690afb354dc1069cae4"
            target="_blank"
            >Bootstrap - Microsoft, edX - 2019
          </a>
        </li>
        <li>
          <a
            href="https://courses.edx.org/certificates/64221ebe413642149443af36dcc80b79"
            target="_blank"
            >JavaScript Introduction- W3C, edX - 2018
          </a>
        </li>
        <li>
          <a
            href="https://courses.edx.org/certificates/4dd64d88a9104903830cb799b05a0823"
            target="_blank"
            >CSS Basics- Microsoft, edX - 2018
          </a>
        </li>
        <li>
          <a
            href="https://courses.edx.org/certificates/9994a3b65ae7469fbc952e0940ae2c13"
            target="_blank"
            >HTML5 and CSS Fundamentals - Microsoft, W3C, edX - 2018
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
